body {
    font-family: 'Inter', sans-serif;
}

/* header {} */

nav {
    color: #525252;
    padding: 20px 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav-logo {
    display: flex;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.navbar ul li {
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar ul li:hover {
    color: #3C82F6;
}

.navbar--right span {
    border-radius: 5px;
    background-color: #DBE9FE;
    color: #2463EB;
    font-size: 14px;
    padding: 1px 10px;
}

@media (max-width: 1024px) {
    .navbar--left {
        display: none;
    }

    .navbar--right {
        display: none;
        margin-top: -55px;
    }

    .nav-logo {
        position: absolute;
        left: 5%;
        top: 3%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        line-height: 0.5;
        left: 5%;
        position: relative;
    }

    .navbar--right span {
        display: none;
    }
}

@media (max-width: 768px) {
    /* .navbar ul li {
        position: relative;
        line-height: 2;
    } */
}

/* START hero__section */
.hero__section {
    padding: 50px 0px;
}

.header__hamburger--menu {
    display: none;
    cursor: pointer;
    color: #1F2937;
}

.hero__section--horizontal--cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* .hero__section--horizontal--cards {} */

.hero__section--horizontal--cards--images {
    width: 100%;
}

.hero__section--horizontal--cards--images img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.hero__section--horizontal--cards--images:hover img {
    transform: scale(1.05);
}

.hero__section--horizontal--cards--content {
    width: 500px;
    cursor: pointer;
}

.hero__section--horizontal--cards--content h4 {
    /* color: #2463EB; */
    font-weight: 400;
    line-height: 0.3;
}

.hero__section--horizontal--cards--content h3 {
    font-size: 17px;
    color: #262626;
    font-weight: 600;
    margin: 0px;
}

.hero__section--horizontal--cards--profile--picture {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__section--horizontal--cards--profile--picture img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.hero__section--horizontal--cards--content h5 {
    color: #737373;
    font-weight: 100;
}

@media (max-width: 1024px) {
    .hero__section--horizontal--cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .header__hamburger--menu {
        display: flex;
    }

    .hamburger-toggle:checked~.navbar {
        display: flex;
        /* justify-content: flex-start; */
        width: 100%;
    }

    .hero__section--horizontal--cards {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        box-sizing: border-box;
    }

    .hamburger-toggle:checked~.navbar--left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hamburger-toggle:checked~.navbar--right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header__hamburger--menu {
        /* display: flex;
        align-items: flex-end;
        justify-content: flex-end; */
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .hero__section--horizontal--cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero__section--horizontal--cards {
        flex: 1 1 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .header__hamburger--menu {
        display: flex;
        flex-direction: column;
    }

    /* .hamburger-toggle:checked~.navbar ul li{
        flex-direction: column;
    } */
    .hamburger-toggle:checked~.navbar--left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hamburger-toggle:checked~.navbar--right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/* START blog__cards__section */
.blog__cards__section {
    /* padding: 30px 180px; */
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.blog__cards__section--container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto); */
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog--cards {
    /* flex: 1 1 calc((100% / 3) - 20px);
    max-width: calc((100% / 3) - 20px); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* .blog--cards--images {
     width: 100%;
} */

.blog--cards--images img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.blog--cards--images:hover img {
    transform: scale(1.05);
}

.blog--cards--content {
    width: 270px;
    cursor: pointer;
}

.blog--cards--content h4 {
    font-weight: 400;
    line-height: 0.5;
    font-size: 12px;
    display: flex;
    gap: 10px;

}

/* .blog--cards--content h4 span{
   
} */
.blog--cards--content h3 {
    font-size: 17px;
    color: #262626;
    font-weight: 600;
    margin: 0px;
    width: 280px;
}

.blog__cards__section--profile--picture {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog__cards__section--profile--picture img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.blog--cards--content h5 {
    color: #737373;
    font-weight: 100;
}

@media (max-width: 1024px) {
    .blog__cards__section--container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }

    .blog__cards__section {
        padding: 0;
        margin: 0;
        /* width: 100%; */
    }

    .blog--cards {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .blog__cards__section--container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        width: 100%;
    }
    .blog__cards__section {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .blog--cards {
        width: 100%;
    }
    /* .blog__cards__section--container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
    } */
    .blog--cards--images img {
        /* width: 100%;
        max-width: 400px; */
        width: 400px;
        height: 350px;
        object-fit: cover;
    }

    .blog__cards__section--profile--picture img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.blog--cards--button--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.blog--cards--button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 13px;
    color: #737373;
    transition: all 0.3s ease;
    cursor: pointer;
}

.blog--cards--button:hover {
    background-color: #FAFAFA;
}

.blog--cards--button--bottom--horizontal--line {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #F5F5F5;
    width: 800px;
    margin: 10px 150px;
}

/* START footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__copyright {
    color: #262626;
    font-size: 14px;
}

.footer__copyright p:last-child {
    color: #737373;
    font-size: 12px;
}
